{
  "jsc": {
    "parser": {
      "syntax":"typescript",
      "decorators": true
    },
    "baseUrl": ".",
    "paths": {
      "#core/*": ["./core/*"],
      "#modules/*": ["./modules/*"]
    }
  }
}